<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="Simple Test">
        <classes>
            <class name="com.google.PerformanceTestDownload">
                <methods>
                    <include name="downloadFile"/>
                </methods>
            </class>
            <class name="com.google.mainPageSearch">
                <methods>
                    <include name="searchAnyKey"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>